# 개발계 실행용
version: '3.1'
services:
  push-db:
    container_name: push-db
    image: mariadb:10.3.7
    volumes:
      - ./mysql/:/var/lib/mysql/
    environment:
      - MYSQL_USER=root
      - MYSQL_ROOT_PASSWORD=1111
      - MYSQL_PASSWORD=1111
      - MYSQL_DATABASE=push
    ports:
      - 3309:3306
    command: mysqld --lower_case_table_names=1 --skip-ssl --character_set_server=utf8mb4 --explicit_defaults_for_timestamp --sql_mode=IGNORE_SPACE --max_connections=10000 --wait_timeout=60000

  push-api:
    image: openjdk:11.0.10-jdk-slim
    container_name: "push-api"
    restart: always
    command: "java -jar /usr/src/myapp/push-api-0.0.1.jar"
    ports:
      - "8200:8200"
    environment:
      - SPRING_DATASOURCE_DRIVER_CLASS_NAME=com.mysql.jdbc.Driver
      - SPRING_DATASOURCE_URL=jdbc:mysql://dev.onemedics.net:3309/push?zeroDateTimeBehavior=convertToNull&characterEncoding=UTF-8&serverTimezone=UTC
      - SPRING_DATASOURCE_USERNAME=root
      - SPRING_DATASOURCE_PASSWORD=1111
      - _JAVA_OPTIONS=-Xmx2g -Xms2g -XX:MaxMetaspaceSize=1280m -Djava.security.egd=file:/dev/urandom -Dfile.encoding=UTF-8
    volumes:
      - ../../../build/libs/:/usr/src/myapp
